.tituloPana {
  display: flex;
  font-size: 4rem;
  justify-content: center;
  color: white;
  margin: 25px;
}
.tituloRepo {
  display: flex;
  font-size: 4rem;
  justify-content: center;
  color: white;
  margin: 25px;
}
.card-img-top {
  margin: 15px;
}
.div2 {
  margin-bottom: 25px;
}
.carousel-inner {
  width: auto;
  height: 750px;
}
.card {
  background-color: black;
  color: white;
  font-size: 15px;
}
.card-footer {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
div h5 {
  font-size: 25px;
  padding: 10px;
  text-align: center;
}
