h3 {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
}
.linea {
  border: solid 5px;
  color: #971549;
  max-width: 200px;
  margin: 10px auto 2px auto;
}
.slogan {
  font-size: 2rem;
  text-align: center;
  margin: 15px;
  color: #cf455c;
}
.sobrenos2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 30px;
  font-size: 1.5rem;
  text-shadow: 3px 3px 5px #cf455c;
}
.main__div2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

body a {
  text-decoration: none;
  text-align: center;
}
.thumb {
  display: inline;
  width: 300px;
  height: 400px;
  margin: 20px;
}
#thumblist {
  text-align: center;
  border-radius: 8px;
  padding: 0;
  background: rgba(127, 127, 127, 0.8);
}
#thumblist img {
  border-radius: 8px;
}

/** relevant CSS Below **/

.lightbox {
  display: none; /**sets the default display to hide the lightbox until it's the :target**/
  position: fixed; /**the rest of this styling makes the lightbox full screen when selected**/
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.lightbox img {
  /**sets the styling of the image in the lightbox**/
  max-width: 80%;
  max-height: 90%;
  text-align: center;
  margin-top: 2%;
}
.lightbox:target {
  /**this is where the magic happens. makes the lightbox display when it's the target of a clickable link**/
  outline: none;
  display: block;
}
.previous {
  /**styling the left arrow**/
  position: fixed;
  left: 4px;
  top: 40%;
  width: 40px;
}
.exit {
  /**styling the exit button**/
  position: fixed;
  top: 4px;
  right: 4px;
  width: 40px;
}
.next {
  /**styling the right arrow**/
  position: fixed;
  right: 4px;
  top: 40%;
  width: 40px;
}
